html{
  background-color: #020202;
}

/*headerStart*/
.headerContainer{
  max-width: auto;
  max-height: 88px;
  background-color: #eff3cb;
  position: sticky;
  top: 0;
}


.headerIcon{
  width: 88px;
  height: 88px;
  }
  
.logo{
  width: auto;
  height: 88px;
}

.header{
  display: flex;
  justify-content: space-between;
}

.headerTitle{
  font-size: 38px;
  font-family:Arial Black;
  font-weight: bold;
  color:#464646;
  padding: 0 0 0 0;
  height: auto;
  width: auto;
  cursor:default;
}

/*dropMenuStart*/

.dropMenu{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 88px;
  width: 88px;
  margin-right: 24px;
  background-color: #464646;
  scale: 75%;
  border: 3px solid #e8e8e8;
  border-radius: 10px;
}
.dropMenuLine{
  position: relative;
  width: 52px;
  border-top:  solid #e8e8e8 10px;
  margin-left: 10px;
  
}

.dropMenu:hover
{
  background-color: #151515;
  box-shadow: 0 0 100px rgb(255, 204, 110);
  cursor: pointer;
}

/*mainStart*/

.mainContainer{
  max-width: 920px;
  max-height: 1260px;
  margin: 0 auto 0 auto;
 
}

.main{
  
  padding-top: 48px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.mainArt{
  margin: 0 0 0 0 ;
}

.mainTextArea{
  padding-top: 32px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  color:#e8e8e8;
  font-family:Arial Black;
  margin: 0 auto 0 auto;
}

.mainTitle{
  display: flex;
  justify-content: center;
  
}

.mainText{
  display: flex;
  justify-content: center;
}

/*asideStart*/

.asideContainer{
  max-width: 920px;
  max-height: 1260px;

}

.aside{
  padding-top: 32px;
  display: flex;
  justify-content: center;

}
.asideArt{
  margin: 0 0 0 0 ;
  width: 50%;
  height: 50%;
}

.asideArt:hover{
  scale: 1.15;
  
}

.asideTextArea{
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 640px;
  color:#e8e8e8;
  font-family:Arial Black;
  margin: 0 auto 0 auto;
}

.asideTitle{
  display: flex;
  justify-content: center;
}

.asideText{
  display: flex;
  justify-content: center;
}

/*footerStart*/
.footer{
  margin: 96px  auto 0 auto;
  height: 64px;
  background-color:#eff3cb;
  display: flex;
  justify-content: center;
  font-family: Arial;
  font-size: 12px;
  color:#000000;
}

.footer p{
  margin: auto auto auto auto;
  display: flex;
  justify-content: center;
}

/*line*/
.line{
  margin: 32px 0 0 0 ;
  width: auto;
  height: 1px;
  border-top:  solid #7D7D7D 1px;
}

